<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <!-- <script src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min .js') }}"></script>
</head>

<title>
    {% block title %}
    {% endblock %} | RenReport
</title>

<br>
{% if 'logged_in' in session %}
<div class="container">
    <div class="row">
        <div class="col mt-2">
            <nav class="navbar navbar-light navbar-expand-sm" role="navigation">
                <ul class="navbar-nav nav nav-fill">

                    <li class="nav-item">
                        <a class="nav-link {% if request.path == url_for('index') %} active{% endif %}"
                            href="{{ url_for('index') }}">
                            <i class="fas fa-chart-line"> Статистика</i>
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="linkDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-external-link-alt"> Ссылки</i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="linkDropdown">
                            <a class="dropdown-item {% if request.path == url_for('add_links') %} active{% endif %}"
                                href="{{ url_for('add_links') }}">Добавить ссылки</a>
                            <a class="dropdown-item {% if request.path == url_for('remove_links') %} active{% endif %}"
                                href="{{ url_for('remove_links') }}">Удаленить ссылки</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="siteDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-globe"> Сайты</i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="siteDropdown">
                            <a class="dropdown-item {% if request.path == url_for('websites_table') %} active{% endif %}"
                                href="{{ url_for('websites_table') }}">Вебсайты</a>
                            <a class="dropdown-item {% if request.path == url_for('add_new_website') %} active{% endif %}"
                                href="{{ url_for('add_new_website') }}">Добавить сайт</a>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="projDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-project-diagram"> Проекты</i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="projDropdown">
                            <a class="dropdown-item {% if request.path == url_for('project_links') %} active{% endif %}"
                                href="{{ url_for('project_links') }}">Проект</a>
                            <a class="dropdown-item {% if request.path == url_for('report_templates') %} active{% endif %}"
                                href="{{ url_for('report_templates') }}">Уведомления</a>
                            <a class="dropdown-item {% if request.path == url_for('add_project') %} active{% endif %}"
                                href="{{ url_for('add_project') }}">Добавить проект</a>
                        </div>
                    </li>

                    {% if session.get('role', '') in ['root', 'admin'] %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/admin/' %} active{% endif %}"
                            href="/xxx_admin_xxx/"><i class="fas fa-user-secret"> Админка</i></a>
                        {% endif%}
                    </li>

                </ul>
            </nav>
        </div>
        {% include 'choise_title.html' %}
        <div class="col-auto mt-2">
            <div class="btn-group">
                <a href="{{ url_for('user_profile') }}" role="button"
                    class="btn btn-sm btn-success btn-secondary"><b>{{ session['username'] }}</b><br>
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                </a>
                <a href="{{ url_for('logout') }}" role="button" class="btn btn-sm btn-warning btn-secondary">
                    Выход
                    <br>
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            </div>
        </div>
    </div>
</div>
{% endif %}

<body>
    {% block content %}
    {% endblock %}
</body>
{% if 'logged_in' in session %}
<footer class="page-footer font-small blue>
    <hr>
    <div class=" container-fluid text-center text-md-left">
    </div>
    <div class="footer-copyright p-3">© 2019 Copyright:
        <a href="mailto:stvoid.it@yandex.ru"> StVoid</a>
    </div>
</footer>
{% endif %}
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='js/main.js') }}"></script> -->
<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            beforeSend: function (request) {
                var csrftoken = "{{ csrf_token() }}"
                request.setRequestHeader("X-CSRFToken", csrftoken);
            },
            url: "/project_choise",
            success: function (response) {
                var sel = document.getElementById("ct_list")
                var user_title = "{{ session.get('active_project', 'None') }}"
                if (user_title == 'None') {
                    $("<option>Выберите тайтл...</option>").appendTo('#ct_list');
                }
                for (var k in response) {
                    var title = k
                    var id_title = response[k]
                    if (id_title == user_title) {
                        $('<option selected>' + title + "</option>").attr({ value: id_title, text: title }).appendTo('#ct_list');
                    } else {
                        $('<option>' + title + "</option>").attr({ value: id_title, text: title }).appendTo('#ct_list');
                    }
                }
            },
            error: function () {
                console.log('error');
            }
        });
    })
</script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip({ delay: { "show": 150, "hide": 200 }, html: true, boundary: 'window' })
    })
</script>
<script>
    $(document).ready(function () {
        $('body').fadeIn({ duration: 150 });
    })
</script>

</html>